<footer class="Footer text-center paddingY4">
	<div class="Container">
		<ul class="List List--horizontal List--icons">
			<li>
				<a href="http://twitter.com/pagegwood" class="link link-color-white" title="Page Wood on Twitter"><i class="icon-twitter"></i></a><span class="sr-only">Twitter</span>
			</li>
			<li>
				<a href="http://instagram.com/pagegwood" class="link link-color-white" title="PageWood on Instagram"><i class="icon-instagram"></i></a><span class="sr-only">Instagram</span>
			</li>
			<li>
				<a href="https://open.spotify.com/user/pagegwood" class="link link-color-white" title="Page Wood on Spotify"><i class="icon-spotify"></i></a><span class="sr-only">Spotify</span>
			</li>
			<li>
				<a href="https://github.com/pagegwood" class="link link-color-white" title="Page Wood on Github"><i class="icon-github"></i></a><span class="sr-only">Github</span>
			</li>
			<li>
				<a href="https://medium.com/@PageGWood" class="link link-color-white" title="Page Wood on Medium"><i class="icon-medium"></i></a><span class="sr-only">Medium</span>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/pagegwood" title="Page Wood on LinkedIn" class="link-color-white"><i class="icon-linkedin"></i></a><span class="sr-only">LinkedIn</span>
			</li>
		</ul>
		<div class="Footer-meta color-white font-primary weight-normal size-h5 marginT1">
			Copyright {{"now"|date('Y')}} Page G Wood | Crafted in RVA
		</div>
	</div>
</footer>
