<div class="Container">

	<ul class="List List--icons">
		<li><a href=""><i class="icon-twitter"></i></a><span class="u-sr">Twitter</span></li>
	</ul>


	Copyright {{"now"|date('Y')}} Page G Wood | Crafted in RVA
</div>
