{% extends "partials/tease.twig" %}

{% block content %}
	<h2 class="size-h2 weight-normal font-primary"><a href="{{post.link}}">{{post.title}}</a></h2>
		<p>{{post.get_preview(25)}}</p>
		{% if post.thumbnail.src %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
{% endblock %}
