{% extends "planks/plank-wrapper.twig" %}

{% block content %}
	{% if plank.desktop_image %}
	<div class="Hero Hero--interior">
    <div class="Hero-media"></div>
		<div class="Hero-content paddingY3 paddingY6--sm">
			<div class="Container text-center">
				{% if plank.heading %}
				<span class="Hero-caption block size-h1 font-primary weight-medium color-white">{{ plank.heading }}</span>
				{% endif %}
				{% if plank.subheading %}
					<div class="overflow-hidden">
						<h1 class="Hero-subcaption size-h4 inline-block letterspacing-2 font-primary weight-semiBold color-white text-uppercase marginT2 marginT5--sm">{{ plank.subheading }}</h1>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}
