<header class="Header js-StickyHeader Header--sticky">
	<div class="Header-wrap">
	{% block header %}
		<div class="Header-container Container">
			<a class="Branding Branding--header" href="/" title="{{ fn('get_bloginfo', 'name' )}}" rel="home">
				<img src="{{ fn('get_template_directory_uri') }}/assets/svg/page-g-wood.svg" alt="{{ fn('get_bloginfo', 'name' ) }}">
			</a>
			<nav id="nav-main" class="Nav Nav--main marginT1 marginT0--sm" role="navigation">
				{{ fn('wp_nav_menu' , {
          'container' : false,
          'menu_class' : 'menu',
          'theme_location' : 'main'
          })
        }}
			</nav><!-- #nav -->
		</div>
	{% endblock %}
	</div>
</header>
