{% extends "planks/plank-wrapper.twig" %}

{% block content %}
<div class="Gallery clearfix js-Lightbox">
	{% for image in plank.gallery.images %}
		<div class="Gallery-item">
			<a href="{{ image.src }}" title="{{ image.title }}">
				<img src="{{ image.src|resize(500, 500) }}">
			</a>
		</div>
	{% endfor %}
</div>
{% endblock %}
