{% include 'partials/html-header.twig' %}
	{% block head %}
{% endblock %}
<style>
{% block styles %}
{% endblock %}
</style>

<script>
    {% block scripts %}
    {% endblock %}
</script>
</head>
	<body class="{{body_class}}" data-template="base.twig">
		{% block header %}
				{% include 'partials/page-header.twig' %}
		{% endblock %}

		<section id="content" role="main" class="content-wrapper">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</section>

		{% block footer %}
				{% include 'partials/footer.twig' %}
			{{ fn('wp_footer') }}
		{% endblock %}
	</body>
</html>
