/*
|--------------------------------------------------------------------------
| Layout / Container
|--------------------------------------------------------------------------
|
| Notes:
| -----
|
| Reminders:
| -----
|
*/

.Container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1180px;

  //nested containers need zero padding
  .Container {
    @media all and (min-width: 1230px) {
      padding: 0 !important;
    }
  }
}

// bleed to the edge of our mocks, but don't let content go beyond this.
.Container--bleed {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1440px;
}


//used on search results
.Container--small {
  max-width: 830px;
}
