{% extends "layouts/base.twig" %}

{% block content %}
	<article class="Post Post--{{post.post_type}} paddingY3 paddingY5--sm" id="post-{{post.ID}}">
		<div class="Container Container--small">
			<section class="Post-content">
				<h1 class="size-h1 font-primary color-text weight-medium marginB1">{{post.title}}</h1>
				<div class="Content paddingY3 paddingY5--sm">
					{{post.content}}
				</div>
			</section>
		</div>
	</article>
{% endblock %}
