.Branding{
	display: inline-block;
}

.Branding--header{
	width: 215px;

	img{
		height: auto;
		width: 100%;
	}
}


// ==========================================================================
// List
// ==========================================================================

.List{
	font-size: 0;
}

.List--horizontal{
	> li{
		display: inline-block;
	}
}

.List--icons{
	> li{
		margin: 0 5px;
	}
	a{
		font-size: calc( 36px + (20 - 16) * ( (100vw - 400px) / ( 800 - 400) ));
		padding: 5px;
	}
}



// ==========================================================================
// Hero
// ==========================================================================



.Hero{
  font-size: 0;
  position: relative;
  overflow: hidden;

  &:after{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    content: '';
    background: rgba(9,190,178, 0.8);
  }
}

.Hero-media{
  background-position: center top !important;
  background-size: cover !important;
  position: absolute;
  background-repeat: no-repeat !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.Hero-content{
  position: relative;
  z-index: 5;
  width: 100%;
}

// ==========================================================================
// Instagram
// ==========================================================================


.Instafeed{
  margin: 0 -10px;
  @include viewport--sm-min{
    margin: 0 -5px;
  }
  a{
    display: inline-block;
    width: 25%;
    padding: 5px;
    @include viewport--sm-min{
      padding: 10px;
    }
  }
}


.split-bg--md{
  @include viewport--md-min{
    position: relative;
    z-index: 1;

    > div {
      position: relative;
      z-index: 2;
    }

    &:after,
    &:before{
      top: 0;
      bottom: 0;
      width: 50%;
      content: '';
      position: absolute;
    }

    &:before{
      left: 0;
      background: $color--two;
    }

    &:after{
      right: 0;
      background: $color--white;
    }
  }
}


.Grid--hasSplit{
  @include viewport--md-min{
    > .Grid-cell{
      position: relative;

      &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
      }

      &:first-child{
        &:after{
          right: -1px;
          width: 1px;
          background: $color--border;
        }

      }

      &:last-child{
        &:after{
          left: 0px;
          width: 1px;
          background: $color--border;
        }
      }
    }
  }
}


.Grid--gutterMedium{
  margin: 0 -30px;

  > .Grid-cell{
    padding: 0 30px;
  }
}

.Grid--gutterLarge{
  margin: 0 -45px;

  > .Grid-cell{
    padding: 0 45px;
  }
}


.Tease--project{
  margin-bottom: 15px;
  @include viewport--md-min{
    margin-bottom: 0;
  }

  a{
    display: block;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 40px 20px;
    overflow: hidden;

    &:hover,
    &:active,
    &:focus{
      .Tease-logo{
        transform: scale(1.1);
      }

      &:after{
        background: rgba(0,0,0, 0.9);
      }
    }

    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(0,0,0, 0.8);
      z-index: 4;
      transition: all 0.2s;
    }
  }

  .Tease-preview{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-size: cover !important;
    background-position: center center !important;
    filter: blur(2px);
  }

  .Tease-logo{
    background-size: contain !important;
    background-position: center center !important;
    max-width: 180px;
    height: 100px;
    position: relative;
    background-repeat: no-repeat !important;
    z-index: 5;
    transition: all 0.2s;
    margin: 0 auto;
  }
}

// ==========================================================================
// Pagination
// ==========================================================================


.Pagination{

}

ul.Pagination-pages{
  margin: 0 auto;
  font-size: 0;
  li{
    display: inline-block;

    a,
    span{
      font-size: 20px;
      padding: 5px;
      margin: 0 5px;
      transition: all 0.2s;

      &.current,
      &:hover,
      &:active,
      &:focus{
        color: $color--two;
      }
    }
  }
}

.Pagination-button + .Pagination-button{
  margin-left: 20px;
}



