.Branding{
	display: inline-block;
}

.Branding--header{
	width: 215px;

	img{
		height: auto;
		width: 100%;
	}
}


// ==========================================================================
// List
// ==========================================================================

.list{
	font-size: 0;
}

.list--horizontal{
	> li{
		display: inline-block;
	}
}


.List--icons{
	> li{
		margin: 0 5px;
	}
	a{
		font-size: calc( 36px + (20 - 16) * ( (100vw - 400px) / ( 800 - 400) ));
		padding: 5px;
	}
}



// ==========================================================================
// Hero
// ==========================================================================

.Hero{
  font-size: 0;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.Hero-media{
  background-position: center top !important;
  background-size: cover !important;
  position: absolute;
  background-repeat: no-repeat !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.Hero-content{
  position: relative;
  z-index: 5;
  padding: 40px 15px;
  width: 100%;
}

