input[type=text],
input[type=url],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
textarea,
select{
  font-size: 16px;
  font-family: $font--secondary;
  background-color: #fff;
  border: 1px solid $color--six;
  outline: none;
  width: 100%;
  padding: 10px;
  height: 49px;
  &:focus {
    box-shadow: inset 0 1px 1px rgba($color--two, .075);
    transition: box-shadow 0.10s ease-in;
    border-color: $color--two;
  }

  @include placeholder {
    color: $color--placeholder;
  }
}

textarea{
  height: auto;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border: none;
  padding-left: 0;
  padding-right: 30px;
}

label{
  display: block;
  font-family: $font--primary;
  font-weight: $weight--semiBold;
  text-transform: uppercase;
  @extend .size-h6 !optional;
  margin-bottom: 10px;
}


// ==========================================================================
// Comment form specifics
// ==========================================================================

.comment-form{
  p{
    margin-bottom: 30px;

    &:last-of-type{
      margin: 0;
    }
  }
}

// ==========================================================================
// Comment form 7
// ==========================================================================

div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok{
  font-family: $font--primary;
  padding: 20px;
  color: #fff;
  margin: 0;
  border: none;
}

div.wpcf7-validation-errors{
  background: $color--error;
}

div.wpcf7-mail-sent-ok{
  background: $color--success;
}

span.wpcf7-not-valid-tip{
  color: $color--error;
}



