$header-zindex: 999999;

$header-height-mobile: 89px;

$header-height-fixed--mobile: 89px;

$header-height-desktop: 124px;

$header-height-fixed--desktop: 65px;

.Header{
	text-align: center;
}

.Header-container{
	width: 100%;
	@include viewport--md-min{
		display: flex;
		align-items: center;
	}
}


.Header-wrap{
	background: $color--white;
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
	display: flex;
	align-items: center;
	@include viewport--md-min{
		text-align: left;
	}
}

.Header--sticky{
	height: $header-height-desktop;

	@include viewport--md-min{
		height: $header-height-desktop;
	}
	.Header-wrap{
		will-change: transform;
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
		z-index: $header-zindex;
		position: fixed;
		opacity: 1;
		backface-visibility: hidden;
		-webkit-transform: translateZ(0);
		transition: all 0.3s;
		@include viewport--md-min{
			height: $header-height-desktop;
		}
	}

	&.headroom--unpinned{
		.Header-wrap{
			transform: translateY(-110%);
			height: $header-height-fixed--desktop;
		}
	}

	&.headroom--not-top{
		.Header-wrap{
			@include viewport--md-min{
				height: $header-height-fixed--desktop;
			}
		}
	}

	&.headroom--pinned{
		.Header-wrap{
			transform: translateY(0);
		}
	}
}
