$header-zindex: 999999;

$header-height-mobile: 89px;

$header-height-fixed--mobile: 89px;

$header-height-desktop: 124px;

$header-height-fixed--desktop: 80px;

.Header{
	text-align: center;
}

.Header-container{
	@include viewport--md-min{
		display: flex;
		align-items: center;
	}
}


.Header-wrap{
	background: $color--white;
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
	padding-top: 15px;
	padding-bottom: 5px;
	@include viewport--md-min{
		text-align: left;
		padding: 40px 0;
	}
}

.Header--sticky{
	height: $header-height-mobile;

	@include viewport--md-min{
		height: $header-height-desktop;
	}
	.Header-wrap{
		will-change: transform;
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
		z-index: $header-zindex;
		position: fixed;
		opacity: 1;
		backface-visibility: hidden;
		-webkit-transform: translateZ(0);
		transition: all 0.3s;
	}

	&.headroom--unpinned{
		.Header-wrap{
			transform: translateY(-100%);
			height: $header-height-fixed--desktop;
			padding: 10px 0;
		}
	}

	&.headroom--not-top{
		.Header-wrap{
			@include viewport--md-min{
				padding: 10px 0;
			}
		}
	}

	&.headroom--pinned{
		.Header-wrap{
			transform: translateY(0);
		}
	}
}
