@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin viewport--sm-min {
	@media (min-width: $viewport--sm--min) {
		@content;
	}
}

@mixin viewport--sm-max {
	@media (max-width: $viewport--sm--max) {
		@content;
	}
}

@mixin viewport--md-min {
	@media (min-width: $viewport--md--min) {
		@content;
	}
}

@mixin viewport--md-max {
	@media (max-width: $viewport--md--max) {
		@content;
	}
}

@mixin viewport--lg-min {
	@media (min-width: $viewport--lg--min) {
		@content;
	}
}

@mixin viewport--lg-max {
	@media (max-width: $viewport--lg--max) {
		@content;
	}
}

@mixin gradient {
	background-color: #09a366;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDk5MWI0IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwOWI0MTgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(9, 145, 180)),color-stop(1, rgb(9, 180, 24)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(left,rgb(9, 145, 180) 0%,rgb(9, 180, 24) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to right,rgb(9, 145, 180) 0%,rgb(9, 180, 24) 100%);
  background-image: -ms-repeating-linear-gradient(left,rgb(9, 145, 180) 0%,rgb(9, 180, 24) 100%);
}
