.Nav{
	ul{
		font-size: 0;
	}
	a{
		font-family: $font--primary;
		text-transform: uppercase;
		display: block;
	}
}

.Nav--main{
	@include viewport--sm-min{
		display: inline-block;
		margin-left: auto;
	}

	li{
		display: inline-block;
		@include viewport--sm-min{
			margin-right: 10px;
		}

		&:last-of-type{
			margin-right: 0;
		}

		&.current-menu-item{
			a{
				color: $color--four;
			}
		}
	}

	a{
		font-size: calc( 12px + (15 - 12) * ( (100vw - 400px) / ( 800 - 400) ));
		font-weight: $weight--semiBold;
		color: $color--text;
		padding: 10px 8px;
		transition: color 0.2s;

		@include viewport--sm-min{
			padding: 10px;
		}

		&:hover,
		&:active,
		&:focus
		{
			color: $color--four;
		}
	}
}

.Nav--hero{
	margin-left: -10px;
	margin-bottom: -10px;
	@include viewport--sm-min{
		margin-left: 0;
	}
	li{
		display: block;
		margin-bottom: 20px;
		@include viewport--sm-min{
			display: inline-block;
			margin-right: 40px;
		}

		&:last-of-type{
			margin: 0;
		}
	}

	a{
		font-size: calc( 20px + (24 - 20) * ( (100vw - 400px) / ( 800 - 400) ));
		font-weight: $weight--normal;
		letter-spacing: 2px;
		color: $color--white;
		padding: 10px;
		transition: color 0.2s;

		&:hover,
		&:active,
		&:focus{
			color: $color--six;
		}
	}
}
