// ==========================================================================
// Breakpoints
// ==========================================================================


$viewport--sm--min: 	(min-width: 480px);
$viewport--sm--max: 	(max-width: 479px);
$viewport--md--min: 	(min-width: 769px);
$viewport--md--max: 	(max-width: 768px);
$viewport--lg--min: 	(min-width: 990px);
$viewport--lg--max: 	(max-width: 991px);
$viewport--menu--min: (min-width: 791px);
$viewport--menu--max: (max-width: 790px);


// ==========================================================================
// Font weights
// ==========================================================================


$weight--light:					300;
$weight--normal:				400;
$weight--medium:				500;
$weight--semiBold:			600;
$weight--bold:					700;
$weight--extraBold:			800;
$weight--black:					900;


// ==========================================================================
// Colors
// ==========================================================================


$color--one: #0991B4; //blue
$color--two: #09BEB2; //aqua
$color--three: #00A76D; //dark green
$color--four: #09BE4C; ///lighter green
$color--five: #09B418; //lightest green
$color--six: #333333; //text
$color--seven: #F3F3F3; //light gray bg




