// ==========================================================================
// Breakpoints
// ==========================================================================


$viewport--sm--min: 		480px;
$viewport--sm--max:			479px;
$viewport--md--min: 		769px;
$viewport--md--max: 		768px;
$viewport--lg--min:			990px;
$viewport--lg--max: 		991px;
$viewport--menu--min: 	791px;
$viewport--menu--max:		790px;

// ==========================================================================
// Font Families
// ==========================================================================

$font--primary: 	'Raleway', sans-serif;
$font--secondary: 'Merriweather', serif;


// ==========================================================================
// Font weights
// ==========================================================================


$weight--light:					300;
$weight--normal:				400;
$weight--medium:				500;
$weight--semiBold:			600;
$weight--bold:					700;
$weight--extraBold:			800;
$weight--black:					900;


// ==========================================================================
// Colors
// ==========================================================================


$color--one: 			#0991B4; //blue
$color--two: 			#09BEB2; //aqua
$color--three: 		#00A76D; //dark green
$color--four: 		#09BE4C; ///lighter green
$color--five: 		#09B418; //lightest green
$color--six: 			#333333; //text
$color--seven: 		#F3F3F3; //light gray bg


// ==========================================================================
// Sizing
// ==========================================================================

$spacer:		40px; ///gutter


