// @custom-media --sm-viewport (min-width:320px) and (max-width:640px);
// @custom-media --md-viewport (min-width:640px) and (max-width:960px);
// @custom-media --lg-viewport (min-width:960px);

// ==========================================================================
// Breakpoints
// ==========================================================================


:root{
	--Grid-gutter-size: 15px;
}

$viewport--sm--min: 		480px;
$viewport--sm--max:			479px;
$viewport--md--min: 		769px;
$viewport--md--max: 		768px;
$viewport--lg--min:			990px;
$viewport--lg--max: 		991px;
$viewport--menu--min: 	791px;
$viewport--menu--max:		790px;

// ==========================================================================
// Font Families
// ==========================================================================

$font--primary: 	'Raleway', sans-serif;
$font--secondary: 'Merriweather', serif;


// ==========================================================================
// Font weights
// ==========================================================================


$weight--light:					300;
$weight--normal:				400;
$weight--medium:				500;
$weight--semiBold:			600;
$weight--bold:					700;
$weight--extraBold:			800;
$weight--black:					900;


// ==========================================================================
// Colors
// ==========================================================================


$color--one: 			#0991B4; //blue
$color--two: 			#09BEB2; //aqua
$color--three: 		#00A76D; //dark green
$color--four: 		#09BE4C; ///lighter green
$color--five: 		#09B418; //lightest green
$color--six: 			#333333; //text
$color--seven: 		darken(#fdfdfd, 1%); //light gray bg


$color--white: 		#fff;
$color--border: 	#979797;
$color--text: 		$color--six;

$color--error: 		#ff120c;
$color--success:	#09BE4C;
$color--placeholder: lighten($color--six, 20%);


// ==========================================================================
// Sizing
// ==========================================================================

$spacer:		10px; ///gutter


