/* Converted Tailwind Config to scss */
$screens-xs: 480px;
$screens-sm: 690px;
$screens-md: 768px;
$screens-lg: 1000px;
$screens-xl: 1240px;
$screens-xxl: 1300px;
$screens-xxxl: 1370px;
$screens-xxxxl: 1470px;
$screens-xxxxxl: 1700px;

$fontFamily-primary: (Open Sans,sans-serif);
$fontFamily-secondary: (freight-sans-pro,sans-serif);
$fontFamily-tertiary: (le-monde-livre-classic-byol,serif);

$fontSize-base: 18px;
$fontSize-xs: 12px;
$fontSize-sm: 18px;
$fontSize-smedium: 20px;
$fontSize-md: 24px;
$fontSize-xl: 40px;
$fontSize-xll: 45px;
$fontSize-xxl: 50px;
$fontSize-h1: 35px;
$fontSize-h2: 25px;
$fontSize-h3: 22px;
$fontSize-h4: 18px;
$fontSize-h5: 16px;
$fontSize-h6: 14px;
$fontSize-hero: 35px;
$fontSize-heroMd: 45px;
$fontSize-heroLg: 50px;

$fontWeight-thin: 200;
$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;
$fontWeight-extrabold: 800;
$fontWeight-heavy: 900;

$order-1: 1;
$order-2: 2;
$order-3: 3;
$order-4: 4;
$order-5: 5;
$order-6: 6;
$order-7: 7;
$order-8: 8;
$order-9: 9;
$order-10: 10;
$order-11: 11;
$order-12: 12;
$order-first: -1;
$order-last: 999;
$order-none: 0;
$order-normal: 0;

$lineHeight-none: 1;
$lineHeight-tight: 1.1;
$lineHeight-snug: 1.27;
$lineHeight-loose: 1.35;
$lineHeight-relaxed: 1.4;
$lineHeight-extreme: 1.71;
$lineHeight-massive: 2;

$letterSpacing-none: 0px;
$letterSpacing-tight: 0.05px;
$letterSpacing-relaxed: 1.75px;
$letterSpacing-loose: 2.75px;
$letterSpacing-wide: 3px;

$textColor-transparent: transparent;
$textColor-black: #000000;
$textColor-white: #ffffff;
$textColor-tan: #d9c89e;
$textColor-gold: #D9C89E;
$textColor-gray: #d7d2cc;
$textColor-grayLight: #f4f4f4;
$textColor-grayMedium: #676767;
$textColor-grayDark: #262626;
$textColor-graySlate: #A6BBc8;
$textColor-brandPrimary: #026efe;
$textColor-brandSecondary: #029e18;
$textColor-alert: #de5246;
$textColor-success: #4ebc64;
$textColor-warning: #ffae42;
$textColor-notify: #1d67b2;

$backgroundColor-transparent: transparent;
$backgroundColor-black: #000000;
$backgroundColor-white: #ffffff;
$backgroundColor-tan: #d9c89e;
$backgroundColor-gold: #D9C89E;
$backgroundColor-gray: #d7d2cc;
$backgroundColor-grayLight: #f4f4f4;
$backgroundColor-grayMedium: #676767;
$backgroundColor-grayDark: #262626;
$backgroundColor-graySlate: #A6BBc8;
$backgroundColor-brandPrimary: #026efe;
$backgroundColor-brandSecondary: #029e18;
$backgroundColor-alert: #de5246;
$backgroundColor-success: #4ebc64;
$backgroundColor-warning: #ffae42;
$backgroundColor-notify: #1d67b2;

$borderWidth-0: 0;
$borderWidth-2: 2px;
$borderWidth-4: 4px;
$borderWidth-8: 8px;
$borderWidth-default: 1px;

$borderColor-default: undefined;
$borderColor-transparent: transparent;
$borderColor-black: #000000;
$borderColor-white: #ffffff;
$borderColor-tan: #d9c89e;
$borderColor-gold: #D9C89E;
$borderColor-gray: #d7d2cc;
$borderColor-grayLight: #f4f4f4;
$borderColor-grayMedium: #676767;
$borderColor-grayDark: #262626;
$borderColor-graySlate: #A6BBc8;
$borderColor-brandPrimary: #026efe;
$borderColor-brandSecondary: #029e18;
$borderColor-alert: #de5246;
$borderColor-success: #4ebc64;
$borderColor-warning: #ffae42;
$borderColor-notify: #1d67b2;

$borderRadius-none: 0;
$borderRadius-sm: .125rem;
$borderRadius-default: .25rem;
$borderRadius-lg: .5rem;
$borderRadius-full: 9999px;

$width-25: 25px;
$width-50: 50px;
$width-static: 418px;
$width-auto: auto;
$width-1\/4: 25%;
$width-1\/5: 20%;
$width-1\/6: 16.66666%;
$width-1\/3: 33.33333%;
$width-2\/5: 40%;
$width-5\/12: 41.66667%;
$width-1\/2: 50%;
$width-7\/12: 58.33333%;
$width-3\/5: 60%;
$width-2\/3: 66.66667%;
$width-3\/4: 75%;
$width-4\/5: 80%;
$width-5\/6: 83.33%;
$width-full: 100%;

$height-25: 25px;
$height-50: 50px;
$height-auto: auto;
$height-full: 100%;
$height-screen: 100vh;

$maxWidth-420: 420px;
$maxWidth-600: 600px;
$maxWidth-tiny: 15rem;
$maxWidth-xs: 20rem;
$maxWidth-sm: 30rem;
$maxWidth-md: 40rem;
$maxWidth-lg: 50rem;
$maxWidth-xl: 60rem;
$maxWidth-2xl: 70rem;
$maxWidth-3xl: 80rem;
$maxWidth-4xl: 90rem;
$maxWidth-5xl: 100rem;
$maxWidth-full: 100%;

$maxHeight-100: 100px;
$maxHeight-400: 400px;
$maxHeight-full: 100%;
$maxHeight-screen: 100vh;

$padding-0: 0;
$padding-5: 5px;
$padding-10: 10px;
$padding-15: 15px;
$padding-20: 20px;
$padding-25: 25px;
$padding-30: 30px;
$padding-35: 35px;
$padding-40: 40px;
$padding-45: 45px;
$padding-50: 50px;
$padding-60: 60px;
$padding-65: 65px;
$padding-70: 70px;
$padding-75: 75px;
$padding-80: 80px;
$padding-90: 90px;
$padding-100: 100px;
$padding-110: 110px;
$padding-115: 115px;
$padding-120: 120px;
$padding-145: 145px;
$padding-150: 150px;
$padding-160: 160px;
$padding-px: 1px;

$margin-0: 0;
$margin-5: 5px;
$margin-10: 10px;
$margin-15: 15px;
$margin-20: 20px;
$margin-25: 25px;
$margin-30: 30px;
$margin-35: 35px;
$margin-40: 40px;
$margin-45: 45px;
$margin-50: 50px;
$margin-60: 60px;
$margin-65: 65px;
$margin-70: 70px;
$margin-75: 75px;
$margin-80: 80px;
$margin-90: 90px;
$margin-100: 100px;
$margin-120: 120px;
$margin-160: 160px;
$margin-auto: auto;
$margin-px: 1px;
$margin--1px: 1px;
$margin--5: -5px;
$margin--10: -10px;
$margin--15: -15px;
$margin--20: -20px;
$margin--25: -25px;
$margin--30: -30px;
$margin--35: -35px;
$margin--40: -40px;
$margin--45: -45px;
$margin--50: -50px;
$margin--60: -60px;
$margin--65: -65px;
$margin--70: -70px;
$margin--75: -75px;
$margin--80: -80px;
$margin--90: -90px;
$margin--100: -100px;
$margin--110: -110px;
$margin--120: -120px;

$boxShadow-default: (0 2px 4px 0 rgba(0,0,0,0.10));
$boxShadow-md: (0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08));
$boxShadow-lg: (0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08));
$boxShadow-inner: (inset 0 2px 4px 0 rgba(0,0,0,0.06));
$boxShadow-outline: (0 0 0 3px rgba(52,144,220,0.5));
$boxShadow-none: none;

$zIndex-0: 0;
$zIndex-10: 10;
$zIndex-20: 20;
$zIndex-30: 30;
$zIndex-40: 40;
$zIndex-50: 50;
$zIndex-auto: auto;

$fill-current: currentColor;

$backgroundImage-none: none;
$backgroundImage-gradient-to-t: (linear-gradient(to top, var(--gradient-color-stops)));
$backgroundImage-gradient-to-tr: (linear-gradient(to top right, var(--gradient-color-stops)));
$backgroundImage-gradient-to-r: (linear-gradient(to right, var(--gradient-color-stops)));
$backgroundImage-gradient-to-br: (linear-gradient(to bottom right, var(--gradient-color-stops)));
$backgroundImage-gradient-to-b: (linear-gradient(to bottom, var(--gradient-color-stops)));
$backgroundImage-gradient-to-bl: (linear-gradient(to bottom left, var(--gradient-color-stops)));
$backgroundImage-gradient-to-l: (linear-gradient(to left, var(--gradient-color-stops)));
$backgroundImage-gradient-to-tl: (linear-gradient(to top left, var(--gradient-color-stops)));

$gradientColorStops-transparent: transparent;
$gradientColorStops-black: #000000;
$gradientColorStops-white: #ffffff;
$gradientColorStops-tan: #d9c89e;
$gradientColorStops-gold: #D9C89E;
$gradientColorStops-gray: #d7d2cc;
$gradientColorStops-grayLight: #f4f4f4;
$gradientColorStops-grayMedium: #676767;
$gradientColorStops-grayDark: #262626;
$gradientColorStops-graySlate: #A6BBc8;
$gradientColorStops-brandPrimary: #026efe;
$gradientColorStops-brandSecondary: #029e18;
$gradientColorStops-alert: #de5246;
$gradientColorStops-success: #4ebc64;
$gradientColorStops-warning: #ffae42;
$gradientColorStops-notify: #1d67b2;

$backgroundOpacity-0: 0;
$backgroundOpacity-25: .25;
$backgroundOpacity-50: .5;
$backgroundOpacity-75: .75;
$backgroundOpacity-100: 1;

$borderOpacity-0: 0;
$borderOpacity-25: .25;
$borderOpacity-50: .5;
$borderOpacity-75: .75;
$borderOpacity-100: 1;

$divideColor-default: undefined;
$divideColor-transparent: transparent;
$divideColor-black: #000000;
$divideColor-white: #ffffff;
$divideColor-tan: #d9c89e;
$divideColor-gold: #D9C89E;
$divideColor-gray: #d7d2cc;
$divideColor-grayLight: #f4f4f4;
$divideColor-grayMedium: #676767;
$divideColor-grayDark: #262626;
$divideColor-graySlate: #A6BBc8;
$divideColor-brandPrimary: #026efe;
$divideColor-brandSecondary: #029e18;
$divideColor-alert: #de5246;
$divideColor-success: #4ebc64;
$divideColor-warning: #ffae42;
$divideColor-notify: #1d67b2;

$divideOpacity-0: 0;
$divideOpacity-25: .25;
$divideOpacity-50: .5;
$divideOpacity-75: .75;
$divideOpacity-100: 1;

$divideWidth-0: 0;
$divideWidth-2: 2px;
$divideWidth-4: 4px;
$divideWidth-8: 8px;
$divideWidth-default: 1px;

$flex-1: 1 1 0%;
$flex-auto: 1 1 auto;
$flex-initial: 0 1 auto;
$flex-none: none;

$flexGrow-0: 0;
$flexGrow-default: 1;

$flexShrink-0: 0;
$flexShrink-default: 1;

$inset-0: 0;
$inset-auto: auto;

$objectPosition-bottom: bottom;
$objectPosition-center: center;
$objectPosition-left: left;
$objectPosition-left-bottom: left bottom;
$objectPosition-left-top: left top;
$objectPosition-right: right;
$objectPosition-right-bottom: right bottom;
$objectPosition-right-top: right top;
$objectPosition-top: top;

$placeholderColor-transparent: transparent;
$placeholderColor-black: #000000;
$placeholderColor-white: #ffffff;
$placeholderColor-tan: #d9c89e;
$placeholderColor-gold: #D9C89E;
$placeholderColor-gray: #d7d2cc;
$placeholderColor-grayLight: #f4f4f4;
$placeholderColor-grayMedium: #676767;
$placeholderColor-grayDark: #262626;
$placeholderColor-graySlate: #A6BBc8;
$placeholderColor-brandPrimary: #026efe;
$placeholderColor-brandSecondary: #029e18;
$placeholderColor-alert: #de5246;
$placeholderColor-success: #4ebc64;
$placeholderColor-warning: #ffae42;
$placeholderColor-notify: #1d67b2;

$placeholderOpacity-0: 0;
$placeholderOpacity-25: .25;
$placeholderOpacity-50: .5;
$placeholderOpacity-75: .75;
$placeholderOpacity-100: 1;

$space-0: 0;
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-5: 1.25rem;
$space-6: 1.5rem;
$space-8: 2rem;
$space-10: 2.5rem;
$space-12: 3rem;
$space-16: 4rem;
$space-20: 5rem;
$space-24: 6rem;
$space-32: 8rem;
$space-40: 10rem;
$space-48: 12rem;
$space-56: 14rem;
$space-64: 16rem;
$space-px: 1px;
$space--1: -0.25rem;
$space--2: -0.5rem;
$space--3: -0.75rem;
$space--4: -1rem;
$space--5: -1.25rem;
$space--6: -1.5rem;
$space--8: -2rem;
$space--10: -2.5rem;
$space--12: -3rem;
$space--16: -4rem;
$space--20: -5rem;
$space--24: -6rem;
$space--32: -8rem;
$space--40: -10rem;
$space--48: -12rem;
$space--56: -14rem;
$space--64: -16rem;
$space--px: -1px;

$strokeWidth-0: 0;
$strokeWidth-1: 1;
$strokeWidth-2: 2;

$textOpacity-0: 0;
$textOpacity-25: .25;
$textOpacity-50: .5;
$textOpacity-75: .75;
$textOpacity-100: 1;

$gap-0: 0;
$gap-1: 0.25rem;
$gap-2: 0.5rem;
$gap-3: 0.75rem;
$gap-4: 1rem;
$gap-5: 1.25rem;
$gap-6: 1.5rem;
$gap-8: 2rem;
$gap-10: 2.5rem;
$gap-12: 3rem;
$gap-16: 4rem;
$gap-20: 5rem;
$gap-24: 6rem;
$gap-32: 8rem;
$gap-40: 10rem;
$gap-48: 12rem;
$gap-56: 14rem;
$gap-64: 16rem;
$gap-px: 1px;

$gridTemplateColumns-1: (repeat(1, minmax(0, 1fr)));
$gridTemplateColumns-2: (repeat(2, minmax(0, 1fr)));
$gridTemplateColumns-3: (repeat(3, minmax(0, 1fr)));
$gridTemplateColumns-4: (repeat(4, minmax(0, 1fr)));
$gridTemplateColumns-5: (repeat(5, minmax(0, 1fr)));
$gridTemplateColumns-6: (repeat(6, minmax(0, 1fr)));
$gridTemplateColumns-7: (repeat(7, minmax(0, 1fr)));
$gridTemplateColumns-8: (repeat(8, minmax(0, 1fr)));
$gridTemplateColumns-9: (repeat(9, minmax(0, 1fr)));
$gridTemplateColumns-10: (repeat(10, minmax(0, 1fr)));
$gridTemplateColumns-11: (repeat(11, minmax(0, 1fr)));
$gridTemplateColumns-12: (repeat(12, minmax(0, 1fr)));
$gridTemplateColumns-none: none;

$gridAutoColumns-auto: auto;
$gridAutoColumns-min: min-content;
$gridAutoColumns-max: max-content;
$gridAutoColumns-fr: (minmax(0, 1fr));

$gridColumn-auto: auto;
$gridColumn-span-1: span 1 / span 1;
$gridColumn-span-2: span 2 / span 2;
$gridColumn-span-3: span 3 / span 3;
$gridColumn-span-4: span 4 / span 4;
$gridColumn-span-5: span 5 / span 5;
$gridColumn-span-6: span 6 / span 6;
$gridColumn-span-7: span 7 / span 7;
$gridColumn-span-8: span 8 / span 8;
$gridColumn-span-9: span 9 / span 9;
$gridColumn-span-10: span 10 / span 10;
$gridColumn-span-11: span 11 / span 11;
$gridColumn-span-12: span 12 / span 12;
$gridColumn-span-full: 1 / -1;

$gridColumnStart-1: 1;
$gridColumnStart-2: 2;
$gridColumnStart-3: 3;
$gridColumnStart-4: 4;
$gridColumnStart-5: 5;
$gridColumnStart-6: 6;
$gridColumnStart-7: 7;
$gridColumnStart-8: 8;
$gridColumnStart-9: 9;
$gridColumnStart-10: 10;
$gridColumnStart-11: 11;
$gridColumnStart-12: 12;
$gridColumnStart-13: 13;
$gridColumnStart-auto: auto;

$gridColumnEnd-1: 1;
$gridColumnEnd-2: 2;
$gridColumnEnd-3: 3;
$gridColumnEnd-4: 4;
$gridColumnEnd-5: 5;
$gridColumnEnd-6: 6;
$gridColumnEnd-7: 7;
$gridColumnEnd-8: 8;
$gridColumnEnd-9: 9;
$gridColumnEnd-10: 10;
$gridColumnEnd-11: 11;
$gridColumnEnd-12: 12;
$gridColumnEnd-13: 13;
$gridColumnEnd-auto: auto;

$gridTemplateRows-1: (repeat(1, minmax(0, 1fr)));
$gridTemplateRows-2: (repeat(2, minmax(0, 1fr)));
$gridTemplateRows-3: (repeat(3, minmax(0, 1fr)));
$gridTemplateRows-4: (repeat(4, minmax(0, 1fr)));
$gridTemplateRows-5: (repeat(5, minmax(0, 1fr)));
$gridTemplateRows-6: (repeat(6, minmax(0, 1fr)));
$gridTemplateRows-none: none;

$gridAutoRows-auto: auto;
$gridAutoRows-min: min-content;
$gridAutoRows-max: max-content;
$gridAutoRows-fr: (minmax(0, 1fr));

$gridRow-auto: auto;
$gridRow-span-1: span 1 / span 1;
$gridRow-span-2: span 2 / span 2;
$gridRow-span-3: span 3 / span 3;
$gridRow-span-4: span 4 / span 4;
$gridRow-span-5: span 5 / span 5;
$gridRow-span-6: span 6 / span 6;
$gridRow-span-full: 1 / -1;

$gridRowStart-1: 1;
$gridRowStart-2: 2;
$gridRowStart-3: 3;
$gridRowStart-4: 4;
$gridRowStart-5: 5;
$gridRowStart-6: 6;
$gridRowStart-7: 7;
$gridRowStart-auto: auto;

$gridRowEnd-1: 1;
$gridRowEnd-2: 2;
$gridRowEnd-3: 3;
$gridRowEnd-4: 4;
$gridRowEnd-5: 5;
$gridRowEnd-6: 6;
$gridRowEnd-7: 7;
$gridRowEnd-auto: auto;

$transformOrigin-center: center;
$transformOrigin-top: top;
$transformOrigin-top-right: top right;
$transformOrigin-right: right;
$transformOrigin-bottom-right: bottom right;
$transformOrigin-bottom: bottom;
$transformOrigin-bottom-left: bottom left;
$transformOrigin-left: left;
$transformOrigin-top-left: top left;

$scale-0: 0;
$scale-50: .5;
$scale-75: .75;
$scale-90: .9;
$scale-95: .95;
$scale-100: 1;
$scale-105: 1.05;
$scale-110: 1.1;
$scale-125: 1.25;
$scale-150: 1.5;

$rotate-0: 0;
$rotate-1: 1deg;
$rotate-2: 2deg;
$rotate-3: 3deg;
$rotate-6: 6deg;
$rotate-12: 12deg;
$rotate-45: 45deg;
$rotate-90: 90deg;
$rotate-180: 180deg;
$rotate--180: -180deg;
$rotate--90: -90deg;
$rotate--45: -45deg;
$rotate--12: -12deg;
$rotate--6: -6deg;
$rotate--3: -3deg;
$rotate--2: -2deg;
$rotate--1: -1deg;

$translate-0: 0;
$translate-1: 0.25rem;
$translate-2: 0.5rem;
$translate-3: 0.75rem;
$translate-4: 1rem;
$translate-5: 1.25rem;
$translate-6: 1.5rem;
$translate-8: 2rem;
$translate-10: 2.5rem;
$translate-12: 3rem;
$translate-16: 4rem;
$translate-20: 5rem;
$translate-24: 6rem;
$translate-32: 8rem;
$translate-40: 10rem;
$translate-48: 12rem;
$translate-56: 14rem;
$translate-64: 16rem;
$translate-px: 1px;
$translate--1: -0.25rem;
$translate--2: -0.5rem;
$translate--3: -0.75rem;
$translate--4: -1rem;
$translate--5: -1.25rem;
$translate--6: -1.5rem;
$translate--8: -2rem;
$translate--10: -2.5rem;
$translate--12: -3rem;
$translate--16: -4rem;
$translate--20: -5rem;
$translate--24: -6rem;
$translate--32: -8rem;
$translate--40: -10rem;
$translate--48: -12rem;
$translate--56: -14rem;
$translate--64: -16rem;
$translate--px: -1px;
$translate--full: -100%;
$translate--1\/2: -50%;
$translate-1\/2: 50%;
$translate-full: 100%;

$skew-0: 0;
$skew-1: 1deg;
$skew-2: 2deg;
$skew-3: 3deg;
$skew-6: 6deg;
$skew-12: 12deg;
$skew--12: -12deg;
$skew--6: -6deg;
$skew--3: -3deg;
$skew--2: -2deg;
$skew--1: -1deg;

$transitionProperty-none: none;
$transitionProperty-all: all;
$transitionProperty-default: (background-color, border-color, color, fill, stroke, opacity, box-shadow, transform);
$transitionProperty-colors: (background-color, border-color, color, fill, stroke);
$transitionProperty-opacity: opacity;
$transitionProperty-shadow: box-shadow;
$transitionProperty-transform: transform;

$transitionTimingFunction-linear: linear;
$transitionTimingFunction-in: (cubic-bezier(0.4, 0, 1, 1));
$transitionTimingFunction-out: (cubic-bezier(0, 0, 0.2, 1));
$transitionTimingFunction-in-out: (cubic-bezier(0.4, 0, 0.2, 1));

$transitionDuration-75: 75ms;
$transitionDuration-100: 100ms;
$transitionDuration-150: 150ms;
$transitionDuration-200: 200ms;
$transitionDuration-300: 300ms;
$transitionDuration-500: 500ms;
$transitionDuration-700: 700ms;
$transitionDuration-1000: 1000ms;

$transitionDelay-75: 75ms;
$transitionDelay-100: 100ms;
$transitionDelay-150: 150ms;
$transitionDelay-200: 200ms;
$transitionDelay-300: 300ms;
$transitionDelay-500: 500ms;
$transitionDelay-700: 700ms;
$transitionDelay-1000: 1000ms;
