/*
|--------------------------------------------------------------------------
| Base / Variables
|--------------------------------------------------------------------------
|
| Notes:
| -----
|
| Reminders:
| -----
|
*/

// set our tailwind colors to simple variables
$textColor-text: theme("colors.black");
$textColor-border: theme("colors.gray");

$fixed-header: 1000;

$mobile-header-height: 36px;
$desktop-header-height: 90px;
