{% extends "planks/plank-wrapper.twig" %}

{% block content %}

	{% if plank.desktop_image %}
	<div class="Hero">
    <div class="Hero-media"></div>
		<div class="Hero-content">
			<h1 class="size-hero font-primary color-white">{{ plank.heading }}</h1>
		</div>
	</div>
	{% endif %}
{% endblock %}
