{% extends "planks/plank-wrapper.twig" %}

{% block content %}
	<div class="Container">
		<div class="Grid">
			<div class="Grid-cell u-sm-size1of2">
				<div id="instafeed" class="Instafeed js-Instagram size-reset"></div>
			</div>
			<div class="Grid-cell u-sm-size1of2">
				Text!
			</div>
	</div>
{% endblock %}
