{% block style %}

{%  endblock %}
<section class="Plank Plank-- background-{{ plank.background_color ? plank.background_color : 'white' }}" id="Plank{{ loop.index }}">
	{% block content %}
	{% endblock %}
</section>
