{% extends "planks/plank-wrapper.twig" %}

{% block content %}
	{{ plank.heading }}

	{% for post in plank.posts %}
		{% if not loop.last %}
		<div class="marginB5">
		{% endif %}
			{% include ['partials/tease-post.twig'] %}
		{% if not loop.last %}
		</div>
		{% endif %}
	{% endfor %}
{% endblock %}
