/*
|--------------------------------------------------------------------------
| Component / Form
|--------------------------------------------------------------------------
|
| Notes:
| -----
|
| Reminders:
| -----
|
*/

input,
textarea,
select {
  color: theme("colors.black");
  border: 1px solid theme("colors.border");
  background-color: theme("colors.white");
  line-height: theme("lineHeight.smedium");
  width: 100%;
  padding: 10px 18px;
  font-size: 16px;
  transition: all 0.2s;
  border-radius: 2px;
  box-shadow: none;

  @include placeholder {
    color: #a9a9a9; // One off gray
  }

  @screen md {
    font-size: theme("fontSize.body");
  }
}

textarea {
  height: 184px;
}

input[type="submit"] {
  @include Button();
  width: auto;
  background-clip: inherit;
  cursor: pointer;
}

input[type="reset"] {
  @include Button();
  width: auto;
  background-clip: inherit;
  cursor: pointer;
  background: transparent;
  border: 2px solid theme("colors.border");
  color: theme("colors.gray");

  &:hover,
  &:focus,
  &:active {
    color: theme("colors.white");
    border-color: theme("colors.gray");
    background-color: theme("colors.gray");
  }
}

@mixin label {
  display: inline-block;
  margin-bottom: 5px;
  line-height: theme("lineHeight.medium");
  letter-spacing: theme("letterSpacing.tight");
  font-weight: theme("fontWeight.black");
}

input::-ms-clear {
  display: none;
}

label {
  @include label();
  font-size: theme("fontSize.h7");

  @screen md {
    font-size: theme("fontSize.h6");
  }
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* ==========================================================================
   CSS Ready Classes - Gravity forms built in styling for columns
   ========================================================================== */

.gform_wrapper {
  max-width: 580px;
  margin: 0 auto;

  .gsection {
    @include lg-min {
      margin-left: -100px !important;
      margin-right: -100px !important;
      margin-bottom: 40px !important;
    }
  }

  input {
    &:focus {
      outline: none;
    }
  }

  .gfield_w-1\/3 {
    input {
      @include md-min {
        width: 33.33%;
      }
    }
  }

  .gfield_w-1\/4 {
    input {
      @include md-min {
        width: 25%;
      }
    }
  }

  .gfield_w-1\/5 {
    input {
      @include md-min {
        width: 20%;
      }
    }
  }

  .gfield_date {
    input {
      @include md-min {
        width: 192px;
      }
    }
  }

  .gfield_number {
    input {
      @include md-min {
        width: 78px;
      }
    }
    .gfield_label {
      max-width: 375px;
    }
  }

  .gsection_title {
    font-size: 20px; // One off fontsize
    line-height: 2;
    border-bottom: 1px solid theme("colors.black");
    font-weight: theme("fontWeight.medium");

    @screen md {
      font-size: 26px; // One off fontsize
    }
  }

  .gfield_label {
    @include label();
    font-size: 14px;

    @screen md {
      font-size: 18px;
    }
  }

  select {
    height: 51px;
    border-radius: 2px;
    border: 1px solid theme("colors.border");
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23212955%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }

  ul {
    margin: 0;
  }

  .screen-reader-text,
  .hidden_label .gfield_label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  li.gfield {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  li.gform_hidden {
    margin: 0 !important;
    display: none;
  }

  input[type="file"] {
    border: none;
    padding-left: 0;
  }

  .ginput_container_checkbox {
    margin-top: 10px;
  }

  .gfield_checkbox,
  .gfield_radio {
    li {
      margin-bottom: 15px !important;

      label {
        margin: 0;
        vertical-align: middle;
        margin-left: 5px;
        text-transform: none;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: normal;

        &:last-of-type {
          margin-bottom: 0 !important;
        }

        @screen md {
          font-size: 18px;
        }
      }
    }

    input[type="checkbox"] {
      width: 20px !important;
      height: 20px;
      vertical-align: middle;
    }
  }

  .gfield_description {
    line-height: 20px;
    display: block;
    margin-bottom: 10px;
    font-style: italic;

    font-size: 12px;
    @include md-min {
      font-size: 14px;
    }
  }
}

.ginput_complex {
  @screen sm {
    .ginput_left {
      width: 49%;
      float: left;
      clear: left;
    }

    .ginput_right {
      width: 49%;
      float: right;
      clear: right;
    }
  }
}

.gform_fields {
  padding: 0;
  margin: 0 0 5px;
}

.Content .gform_fields {
  margin: 0;
  padding: 0;
}

.alert-danger,
.alert-error,
.validation_error {
  margin-bottom: 30px;
}

.validation_message {
  margin-top: 10px;
  font-size: 14px;
  color: theme("colors.error");
  font-style: italic;

  &.gfield_description {
    color: theme("colors.error");
  }
}

.validation_error,
.gform_confirmation_message {
  padding: 18px;
  margin-bottom: 30px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.6;
  font-weight: theme("fontWeight.bold");
}

.gform_confirmation_message {
  color: theme("colors.white");
  max-width: 580px;
}

.validation_error {
  color: theme("colors.white");
  background-color: theme("colors.error");
  border-color: theme("colors.error");
}

.gfield_checkbox {
  li {
    label {
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        height: 15px;
        border: solid theme("colors.white");
        border-width: 0 3px 3px 0;
        top: 1px;
        left: 7px;
        transform: rotate(45deg);
        opacity: 0;
        z-index: 1;
        transition: all 100ms;
      }
    }
  }
}

.gfield_checkbox,
.gfield_radio {
  margin-top: 15px !important;

  li {
    position: relative;
    padding-left: 30px;

    label {
      &:after {
        content: "";
        background: theme("colors.white");
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 2px;
        border: 1px solid #959595; // One off gray
        z-index: 0;
      }
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    opacity: 0;
    outline: none;
    z-index: 100;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
    appearance: none;
    cursor: pointer;

    + label {
      cursor: pointer;
      line-height: 1.1;
      font-size: 16px;

      @screen md {
        font-size: 18px;
      }
    }

    &:checked + label {
      &:before {
        opacity: 1;
      }
    }
  }
}

.gfield_radio {
  li {
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      &:after {
        border-radius: 100%;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: theme("colors.white");
        opacity: 0;
        z-index: 1;
        border-radius: 100%;
        top: 4px !important;
        left: 4px !important;
        transition: all 100ms;
        left: 0;
        top: 0;
      }
    }
  }
}

.gform_wrapper {
  @screen sm {
    .name_first {
      width: 49%;
      float: left;
      margin-right: 1%;
    }

    .name_last {
      width: 49%;
      float: left;
      margin-right: 1%;
    }
  }

  input.datepicker_with_icon {
    display: inline-block;
    width: auto;
  }

  .gfield_date_month,
  .gfield_date_dropdown_month {
    display: inline-block;
    width: auto;
    margin-right: 1%;
  }

  .gfield_date_day,
  .gfield_date_dropdown_day {
    display: inline-block;
    width: auto;
    margin-right: 1%;
  }

  .gfield_date_year,
  .gfield_date_dropdown_year {
    display: inline-block;
    width: auto;
  }

  .gfield_time_hour {
    float: left;
    margin-right: 1%;

    input {
      width: inherit;
      display: inline-block;
    }

    label {
      display: block;
    }
  }

  .gfield_time_minute {
    width: 30%;
    float: left;
    margin-right: 1%;
  }

  .gfield_time_ampm {
    width: 20%;
    float: left;
    margin-right: 1%;
  }

  .gfield,
  .gform_footer {
    clear: both;
  }

  @screen sm {
    .gf_left_half {
      width: 49%;
      float: left;
      clear: left;
    }

    .gf_right_half {
      width: 49%;
      float: right;
      clear: right;
    }

    .gf_left_third {
      clear: none;
      width: 31.333%;
      float: left;
      margin-right: 3%;
    }

    .gf_middle_third {
      clear: none;
      width: 31.333%;
      float: left;
      margin-right: 3%;
    }

    .gf_right_third {
      clear: none;
      width: 31.333%;
      float: right;
    }

    .gf_inline {
      width: auto;
      display: inline-block;
      margin-right: 1%;
      vertical-align: top;
    }

    .gf_list_2col li {
      width: 50%;
      float: left;
    }

    .gf_list_3col li {
      width: 33%;
      float: left;
    }

    .gf_list_4col li {
      width: 25%;
      float: left;
    }

    .gf_list_5col li {
      width: 20%;
      float: left;
    }
  }

  .gf_list_inline li {
    display: inline-block;
    margin-right: 1%;
  }

  .gf_list_height_25 li {
    height: 25px;
  }

  .gf_list_height_50 li {
    height: 50px;
  }

  .gf_list_height_75 li {
    height: 75px;
  }

  .gf_list_height_100 li {
    height: 100px;
  }

  .gf_list_height_125 li {
    height: 125px;
  }

  .gf_list_height_150 li {
    height: 150px;
  }

  .gfield_list {
    margin: 0;
  }

  .gfield_list > tbody > tr:nth-child(odd) > td,
  .gfield_list > tbody > tr:nth-child(odd) > th {
    background: none;
    line-height: normal;
    padding: 0;
    border: 0;
  }

  .gfield_list > thead > tr > th {
    border: 0;
  }

  .gf_scroll_text {
    padding: 12px;
    border: 1px solid theme("colors.border");
    height: 180px;
    overflow: auto;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .gf_hide_ampm {
    .gfield_time_ampm {
      display: none;
    }
  }

  .gf_hide_charleft {
    .charleft {
      display: none;
    }
  }

  .gf_step {
    display: inline-block;
    opacity: 0.2;
    margin-right: 1%;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .gf_step_active {
    opacity: 1;
  }

  .gf_step_number {
    font-weight: bold;
    font-size: 150%;
  }

  // honeypot field, hide it from human beings
  .gform_validation_container {
    display: none;
    position: absolute;
    left: -9000px;
  }

  .ui-datepicker {
    background: theme("colors.white");
    border: 1px solid theme("colors.border");
  }
}

.gform_footer {
  position: relative;
}

body img.gform_ajax_spinner {
  width: 30px;
  display: inline-block;
  top: 50%;
  left: 180px;
  transform: translate3d(-50%, -50%, 0);
  right: 0;
  position: absolute;
}

.ginput_container_name,
.ginput_container_address {
  margin-bottom: 30px;
  overflow: hidden;
}

.ginput_container_address {
  > span {
    margin-bottom: 15px;
    display: block;
  }
}

.ginput_complex {
  label {
    color: $textColor-gray;
    margin-top: 5px;
  }
}

// ==========================================================================
// Datepicker
// ==========================================================================
.ui-datepicker {
  font-weight: 300;
}

.ui-datepicker .ui-icon {
  position: relative;
}

a.ui-datepicker-prev,
a.ui-datepicker-next {
  float: left;
  width: 1em;
  height: 1em;
  margin-top: 2px;
}

a.ui-datepicker-next {
  float: right;
}

#ui-datepicker-div {
  background: theme("colors.white");
  padding: 0.5em;
}

table.ui-datepicker-calendar th,
table.ui-datepicker-calendar td {
  padding: 0.25em;
}

a.ui-datepicker-next.ui-corner-all {
  float: right;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-title select {
  padding: 5px;
  margin: 0 0.15em;
}

td.ui-datepicker-week-end {
  background: #efefef;
}

table.ui-datepicker-calendar td {
  padding: 0.25em;
  text-align: center;
}

select[multiple] + .chosen-container li.result-selected {
  padding-left: 0.75em;
  background: theme("colors.trueBlack");
  color: theme("colors.white");
}

td.ui-datepicker-current-day a.ui-state-active {
  display: block;
  border-radius: 50%;
  width: 1.5em;
}

input.datepicker_with_icon + img {
  width: 1.5em;
  position: relative;
  left: 0.5em;
  top: 0.25em;
}

.ui-datepicker-title select {
  font-size: 0.9em;
}

td.ui-datepicker-today a {
  font-weight: bold;
}

select[multiple] + .chosen-container li.result-selected,
td.ui-datepicker-current-day a.ui-state-active,
ul.chosen-results li.active-result.result-selected {
  background: theme("colors.trueBlack");
  color: theme("colors.white");
}

.ui-datepicker-prev {
  position: absolute;
  left: 20px;
  line-height: 40px !important;
  background: none !important;
}

.ui-datepicker-prev:after {
  content: "◀";
  color: theme("colors.trueBlack") !important;
}

.ui-state-disabled.ui-datepicker-prev:after {
  color: #ccc !important;
}

.ui-icon.ui-icon-circle-triangle-w {
  display: none;
}

.ui-datepicker-next {
  position: absolute;
  right: 20px;
  line-height: 40px !important;
  background: none !important;
}

.ui-icon-circle-triangle-e {
  display: none;
}

.ui-datepicker-next:after {
  content: "▶";
  color: theme("colors.trueBlack") !important;
}

.ui-state-disabled.ui-datepicker-next:after {
  color: #ccc !important;
}

.ui-datepicker-calendar,
.ui-datepicker-header {
  border: 1px solid theme("colors.border");
}

.ui-datepicker-header {
  text-align: center;
  border-bottom: none;
  padding: 5px;
  padding-bottom: none;
}

.ui-datepicker-calendar {
  border-top: none;
  padding: 5px;
  padding-top: none;
  border-collapse: inherit;
}

.ui-datepicker-title {
  margin: 0 auto;
}

.ui-datepicker-year,
.ui-datepicker-month {
  width: 50px;
  background: #efefef;
}

.ui-datepicker-title {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}

// ==========================================================================
// WordPress password protection form
// ==========================================================================
.post-password-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  @include md-min {
    padding: 100px 0;
  }

  p {
    font-size: 19px;
    line-height: 1.36;
    margin-bottom: 30px;
  }

  input[type="password"] {
    margin-top: 5px;
    margin-bottom: 15px;
    &:focus {
      outline: none;
    }
  }

  input[type="submit"] {
    display: block;
  }
}

